

.container {
  width: 40%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 30px;
}
.container h2 {
  font-size: 32px;
  color: rgb(0, 83, 4);
}

.todo_top {
  color: #fff;
  background-color: rgb(17, 10, 54);
  border-radius: 10px;
  padding: 20px 10px;
}
.task {
  position: relative;
}

.task_text {
  padding: 5px;
  margin: 0;
  border-radius: 5px;
}

.task_text.task_text_done {
  background-color: rgb(179, 179, 179);
}

.task .task_button {
  position: absolute;
  line-height: 0;
  font-size: 34px;
  color: rgb(0, 170, 23);
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  transition: 0.2s;
}
.task_button:hover {
  background-color: rgb(5, 56, 0);
}

.task_button.task_button_done:hover {
  background-color: rgb(206, 0, 0);
}


.generator {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.generator_figure {
  font-size: 70px;
  font-weight: bold;
  position: relative;
}

.generator_input input{
  display: block;
}

.worning {
  width: 200px;
  font-size: 14px;
  color: red;
  position: absolute;
}